/* Reset e estrutura */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    overflow-x: hidden;
    padding-top: 100px; /* espaço para o header fixo */
    background-color: #ffffff;
}

/* NAV (cabeçalho fixo) */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0077b6;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    z-index: 1000;
    padding: 1px;
}

nav img {
    width: 7%;
    height: auto;
    margin-top: 36px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

nav ul li a:hover {
    transform: scale(1.2);
    color: #ffcc00;
}

/* Título da página */
.titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
    text-align: center;
    color: #023e8a;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
    z-index: 2;
}

.titulo::after{
    content: '';
    display: block;
    width: 80px;
    height: 6px;
    background: #ffcc00;
    margin: 15px auto 0;
    border-radius: 10px;
  }

/* Container para os comentários */
.container-comentarios {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 60px 20px;
}

/* Comentários */
.comentario {
    display: flex;
    align-items: flex-start;
    background-color: #f9f9f9;
    border-radius: 10px 60px 30px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
    margin-bottom: 40px;
}

.comentario:hover {
    transform: scale(1.01);
}

.foto-perfil img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.content .nome {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.content .localizacao {
    font-size: 14px;
    color: #888;
    margin-top: -4px;
    margin-bottom: 8px;
    padding-top: 7px;
}

.content .mensagem {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
    line-height: 1.5;
}

.content .data {
    font-size: 12px;
    color: #aaa;
}

/* Footer */
footer {
    background: #023e8a;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

/* Header estilizado */
header {
    background: #0077b6;
    color: white;
    padding-top: 70px;
    width: 100%;
}

/* Texto estilizado (caso queira usar) */
.logo {
    font-family: 'Baloo 2', cursive;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffcc00;
}

.turismo {
    color: white;
}

.on {
    color: #ffcc00;
}
