body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
header {
    background: #0077b6;
    color: white;
    padding: 70px 0 20px;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

.turismo {
    color: white;
}

.on {
    color: #ffcc00;
}

/* Navegação */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0077b6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    z-index: 1000;
}

nav img {
    width: 60px;
    margin-right: 20px;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    transition: transform 0.3s;
}

nav ul li a:hover {
    transform: scale(1.2);
    color: #ffcc00;
}

/* explore */
.explore {
    background-color: #e0f7fa;
    padding: 100px 20px 60px;
}

.explore h2 {
    font-size: 3rem;
    color: #0077b6;
}

.explore p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

.explore .btn {
    background-color: #0077b6;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s;
}

.explore .btn:hover {
    background-color: #023e8a;
}

#paisagem {
    width: 550px;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
}

/* Benefícios */
.beneficios {
    padding: 40px 20px;
}

.beneficios h2 {
    color: #023e8a;
    font-size: 2.5rem;
}

.beneficios ul {
    list-style: none;
    margin-top: 20px;
}

.beneficios li {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #023e8a;
}

/* Carrossel */
.destaques {
    padding: 40px 20px;
    background-color: #f0f8ff;
}

.carrossel {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 20px;
    scroll-behavior: smooth;
    gap: 5rem;
}

.destino {
    min-width: 200px;
    flex: 0 0 auto;
    text-align: center;
}

.destino p {
    margin-top: 8px;
    font-weight: bold;
}

.destino img{
    width: 15rem;
    height: 10rem;
    border-radius: 8px;
}

/* colunas */
.duas-colunas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.coluna {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    text-align: left;
}

.coluna h2 {
    color: #0077b6;
    font-size: 2rem;
    margin-bottom: 20px;
}

.coluna p {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
}

#viagens {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Rodapé */
footer {
    background: #023e8a;
    color: white;
    padding: 20px;
    text-align: center;
}

.redes-sociais {
    margin-bottom: 10px;
}

.redes-sociais a img {
    width: 24px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.redes-sociais a img:hover {
    transform: scale(1.2);
}
